@charset "UTF-8";

.conteiner{
    width:100%;
    margin: auto;
    position:relative;
    color: #fff;
}
img{
    width: 100%;
}
.conteiner div{
    color: #fff;
    padding:20px;
    background-color: rgba(0,0,0,0.5);

} 
.conteiner{
    position:relative;
    text-align: center;
    color: white;
}
.baixoEsquerda{

    position:absolute;
    bottom:5px;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    text-align:center;



}
.topoEsquerda{
 position: absolute;
 top: 0;
 left: 0;
 text-align: center;
 background-color: rgba(0,0,0,0.5);
 padding: 10px;
}
.topoDireita{
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    padding: 10px;
}
.baixoDireita{
    position: absolute;
    bottom: 5px;
    right: 0;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
}
.centro{
    position: absolute;
   bottom: 50%;
   left: 48%;
   transition:translate(-50%,-50%);
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding:10px;

}