@charset "utf-8"; /*declaração inical da folha de estilo, não esquecer novamente de indicar utf-8 entre aspas duplas. */

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Srisakdi&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans serif;/*declaração de variavel no css para inserção de fontes*/
    --fonte2:  'Passions Conflict', cursive;
    --fonte3: 'Srisakdi', cursive;

}
*{
    margin: 0px;
    padding: 0px;
} /*configurações gerais para resetar todos os elementos para configuração durante o desenvolvimento do site, seção por seção*/
html, body{
    font-family: var(--fonte1);
   min-height: 100vh; /*Tamanho mínimo do meu html e body é 100% da viewport height(" altura espessura")*/
    background-color: darkgray;   
}
header{
background-color: black;
color: white;
text-align: center;
}/*configurando estilo do cabeçalho da página*/
header > h1{
    font-family: var(--fonte2); /*para colocar a variavel da fonte na fonte selecionada basta declarar "font-family: var"  e selecionar a desejada.*/
    font-size: 8em;/*tamanho da fonte. Cada em é 16px se me lembro bem*/
    padding-top: 50px; /*(espaçamento superior em relação ao cabeçalho)*/
    text-decoration: small-caps ;/*tranformando o texto de h1 em todas maiúsculas, e as letras inicias das palavras maiores que o restante das outras letras*/
}
header > p{
    padding-bottom: 50px;/*configuração do espaçamento inferior ao cabeçalho */
}
header  a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
} /*configuração do link, cor do mesmo e o seu peso em negrito*/

header a:hover, footer a:hover{
text-decoration: underline;
}/*configuração ao passar com o mouse sobre o link. Ao passar, ficará sublinhado*/

section{
    padding-top: 10vh;/*espaçamento superior 10% da altura da tela*/
    padding-bottom: 10vh/*configuração para as sections como um todo*/
    line-height: 2em; /*espaçamento entre as linhas*/
    padding-left: 30px; /*colocando texto da seleção mais afastado da borda esquerda*/
    font-size:5vh; /*tamanho percentual em relação à tela*/
}
section.normal{
background-color: white;
color: black;
font-family: var(--fonte2);
font-size: 3em;
}/*configuração da seção normal*/

section.imagem{
    
background-color: rgb(28, 27, 27);
color: white;
}/*configuração da seção imagem*/
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgb(23, 22, 22);/*configurando a area do texto ( interna do section*/
}
footer{
    color: rgb(238, 227, 15);
   background-color:black;
   text-align: center;
   padding: 10px;

}